matplotlib==3.5.2
numpy==1.23.0
pandas==1.4.2
scipy==1.9.0
scikit-learn==1.1.0
tensorflow==2.9.0
tensorboard==2.9.0
Pillow==9.1.0
pyglet==1.5.22
scikit-image==0.19.2
joblib==1.1.0
Django==4.1
PyQt5==5.15.6
Kivy==2.1.0
PySimpleGUI==4.60.0
Flask==2.2.0
translate==3.6.0
gTTS==2.2.4
